<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Shop</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <h1><a href="/home">E-Library</a></h1>
        <ul>
            <h1>{{ printf "%#v" . }}</h1>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup" class="btn">Sign up</a></li>
        </ul>
    </nav>

    <div class="button-container">
        <button onclick="addBook()" id="create" type="button">Add Books</button>
        <button onclick="removeBook()" id="delete" type="button">Delete Books</button>
        <button onclick="updateBook()" id="update" type="button">Update Books</button>
        <button onclick="getIssue()" name="issues" id="normal" type="button">Issues</button>
        <button onclick="goToRaiseissue()" name="resolveIssuebyID" id="update" type="button">Resolve Issue by
            ID</button>
    </div>

    <div class="container">
        <h1 id="h"></h1>
    </div>

</body>
<script src="../public/script.js"></script>
<!-- <footer>Copyright &copy 2024 mishrarohit10</footer> -->

</html>