<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Shop</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <h1><a href="/home">E-Library</a></h1>
        <ul>
            <!-- <li><a href="/contactus">contact us</a></li> -->
            <!-- <% if (user) { %> -->
            <!-- <li>Welcome, <%= user.email %></li> -->
            <li><a href="/logout">Log out</a></li>
            <!-- <% } else { %> -->
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup" class="btn">Sign up</a></li>
            <!-- <% } %> -->
        </ul>
    </nav>

    <form class="books">
        <h2>Enter Publisher</h2>

        <label for="publisher">Enter Publisher</label>
        <input type="text" name="publisher" />

        <button onclick="searchByPublisher()" id="search" type="button" >search</button>
    </form>

    <div class="container">
        <h1 id="h"></h1>
    </div>
   
</body>
<footer>Copyright &copy 2024 mishrarohit10</footer>
<script src="../public/script.js"></script>
</html>